@import "index.scss";

.user-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  .name {
    color: $honesto-black-pearl;
  }
  .logout {
    color: #59636e;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 0.66em;
  }
}
