@import "index.scss";

.feedback-panel-component {
  display: flex;
  flex-direction: column;

  .hero-container {
    padding: 3rem 0 0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .header {
    align-items: flex-end;
    .date-selector {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      select {
        width: 15em;
      }
      button {
        margin-left: 1em;
      }
    }
  }

  .subcontainer {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: flex;
  }
  .left-section {
    flex: 3;
    border-right: 1px solid #d9dcde;
    .column-header {
      // font-size: 0.66em;
      // letter-spacing: 0.15em;
      // text-transform: uppercase;
      // font-weight: bold;
      padding: 1em;
      border-bottom: 1px solid #d9dcde;
      text-align: left;
    }
  }
  .right-section {
    flex: 5;
    .column-header {
      color: $honesto-black-pearl;
      font-size: 1.6em;
      padding: 0.5em 1em;
      text-align: left;
      border-bottom: 1px solid #d9dcde;
    }
  }
}
