@import "index.scss";

$green: #2bbf6a;
$yellow: #f5dd07;
$orange: #ff8c21;
$red: #de521d;

.answer-component {
  align-items: center;
  display: flex;
  padding: 1em;
  text-align: left;
  border-bottom: 1px solid #d9dcde;

  .answer-title {
    flex: 1;
    padding-right: 1em;
  }
  .answer {
    flex: 1;
    p {
      text-align: left;
    }

    .range-container {
      display: flex;
      justify-content: space-between;

      .step {
        flex: 1;
        background-color: #f2f3f4;
        margin: 0 2px;
        height: 1.6em;
      }
      .full {
        background-color: $green;
      }
      .medium {
        background-color: $yellow;
      }
      .low {
        background-color: $orange;
      }
      .very-low {
        background-color: $red;
      }
    }
  }
}

.answer-component-column {
  flex-direction: column;
  align-items: flex-start;
}
