@import "index.scss";

.answer-component {
  align-items: center;
  display: flex;
  padding: 1em;
  text-align: left;
  border-bottom: 1px solid #d9dcde;

  .answer-title {
    flex: 1;
    padding-right: 1em;
  }
  .answer {
    flex: 1;
    p {
      text-align: left;
    }

    .range-container {
      display: flex;
      justify-content: space-between;

      .step {
        flex: 1;
        background-color: #f2f3f4;
        border: 1px solid red;
        margin: 0 2px;
        height: 1.6em;
      }
      .active {
        background-color: $honesto-purple;
      }
    }
  }
}

.answer-component-column {
  flex-direction: column;
  align-items: flex-start;
}
