.share-feedback {
  max-width: 50% !important;

  .header-container {
    align-items: flex-end;
    .hero-container {
      padding: 3rem 1em 0;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }
  }
  .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }
}
