.login-component {
  align-items: center;
  background-image: url(./background.png);
  display: flex;
  height: 100%;
  justify-content: center;

  .form-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 18em;
    align-items: inherit;

    .logo {
      height: 70px;
      width: 70px;
    }
  }
}
