@import "index.scss";

.multiple-options-component {
  flex-direction: column;
  width: 100%;

  .question {
    text-align: left;
    background-color: $honesto-alabaster;
    padding: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    &:hover {
      background-color: $honesto-gray;
      color: #ffffff;
    }
    &:active {
      background-color: $honesto-gray;
      color: #ffffff;
      opacity: 0.7;
    }
  }
  .selected {
    background-color: $honesto-gray;
    color: #ffffff;
  }
}
