@import-normalize; /* bring in normalize.css styles */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

// Colors
$honesto-purple: #ab61e5;
$honesto-black-pearl: #031323;
$honesto-gray: hsl(211, 11%, 39%);
$honesto-alabaster: #f2f3f4;

// Bulma customizations
$family-sans-serif: "Roboto", sans-serif;

$button-background-color: $honesto-purple;
$button-border-color: none;
$button-color: white;
$button-padding-horizontal: 1.5em;
$button-disabled-background-color: #acb1b6;

$navbar-background-color: $honesto-alabaster;

// Import the rest of Bulma:
@import "bulma/bulma.sass";

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

a {
  color: $honesto-black-pearl;
}

button {
  height: 48px;
  width: 150px;
}

.button-normal {
  background-color: white;
  color: $honesto-black-pearl;
  border: 1px solid #d9dcde;
  // font-weight: bold;
}
