@import-normalize; /* bring in normalize.css styles */

@import url("https://fonts.googleapis.com/css?family=Average+Sans&display=swap");

// Colors
$honesto-purple: #ab61e5;
$honesto-black-pearl: #031323;

// Bulma customizations
$family-sans-serif: "Average Sans", sans-serif;

$button-background-color: $honesto-purple;
$button-border-color: none;
$button-color: white;
$button-padding-horizontal: 1.5em;

$navbar-background-color: #f2f3f4;

// Import the rest of Bulma:
@import "bulma/bulma.sass";

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}
